<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BROADCAST</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
            text-align: center;
        }

        h1 {
            margin-top: 20px;
            color: #333;
        }

        #myVideo {
            margin-top: 30px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>

<h1>Video Result</h1>

<video id="myVideo" width="600" height="300" controls loop autoplay muted>
    <source src="{{ videoUrl }}#t={{ startTime }}" type="video/mp4" />
</video>

</body>
</html>
